version: '2'

services:
  redis:
    restart: always
    container_name: nextcloud_redis
    hostname: redis
    image: maxder/alpine-redis:x86_64
  mariadb:
    restart: always
    container_name: nextcloud_db
    hostname: mariadb
    image: maxder/alpine-mariadb:x86_64
    volumes:
    - /srv/docker/nextcloud/db:/var/lib/mysql
    environment:
    - DBUSER=dbadmin
    - DBPASS=dbadminpass
  nextcloud:
    restart: always
    container_name: nextcloud
    hostname: nextcloud
    image: maxder/alpine-nextcloud:x86_64
    ports:
    - 80:80
    - 443:443
    volumes:
    - /srv/docker/nextcloud/data:/data
    - /srv/docker/nextcloud/config:/etc/nextcloud
    - /srv/docker/nextcloud/log:/var/log/NGINX
    environment:
    - DBUSER=dbadmin
    - DBPASS=dbadminpass
#    - APPFOLDER=cloud          ## Maps Nextcloud to subdir
    - INSTALL=silent            ## Silent installation via CLI
    - APPADMINPASS=adminpass    ## Admin password for silent installation
    - APPADMIN=admin            ## Admin username for silent installation

    links:
    - mariadb:db
    - redis:redis
#    labels:
#    - "traefik.backend=nextcloud"
#    - "traefik.frontend.rule=Host:nextcloud.docker.localhost"
#    - "traefik.frontend.entryPoints=https"
#    - "traefik.protocol=http"
#    - "traefik.port=80"
#    - "traefik.docker.network=traefik_default"
#networks:
#  default:
#    external:
#      name: traefik_default
