#!/usr/bin/with-contenv sh

set -e

if [ ! -d /etc/traefik/config ]; then
  s6-echo "[i] Create config folder."
  s6-mkdir /etc/traefik/config
fi

if [ ! -f /etc/traefik/config/traefik.toml ]; then
  s6-echo "[i] Create config (traefik.toml)."
  apk -U add curl
  curl -o /etc/traefik/config/traefik.toml -L https://raw.githubusercontent.com/containous/traefik/master/traefik.sample.toml
  # Log
  sed -i 's*# logLevel = "ERROR"*logLevel = "DEBUG"*g\
         ;s*# traefikLogsFile = "log/traefik.log"*traefikLogsFile = "/var/log/traefik/traefik.log"*g' /etc/traefik/config/traefik.toml
  # Web
  sed -i 's*# \[web\]*\[web\]*g\
         ;s*# address = "\:8080"*address = "\:8080"*g\
         ;s*# CertFile = "traefik.crt"*CertFile = "/etc/traefik/tls/traefik.crt"*g\
         ;s*# KeyFile = "traefik.key"*KeyFile = "/etc/traefik/tls/traefik.pem"*g' /etc/traefik/config/traefik.toml
  # Rules
  sed -i 's*# \[file\]*\[file\]*g\
         ;s*# filename = "rules.toml"*filename = "/etc/traefik/config/rules.toml"\nwatch = true*g' /etc/traefik/config/traefik.toml
  # Docker
  sed -i 's*# \[docker\]*\[docker\]*g\
	 ;s*# endpoint = "unix:///var/run/docker.sock"*endpoint = "unix:///var/run/docker.sock"*g
         ;s*# domain = "docker.localhost"*domain = "docker.localhost"\nwatch = true*g' /etc/traefik/config/traefik.toml
  s6-ln -s /dev/stdout /var/log/traefik/traefik.log
  s6-chmod 4755 /etc/traefik/config/traefik.toml
  s6-envuidgid traefik s6-chown -U -- /etc/traefik/config/traefik.toml
  apk del curl
  s6-rmrf /var/cache/apk/*  /usr/share/doc /usr/share/man/ /usr/share/info/* /var/cache/man/* /var/tmp
fi

if [ ! -f /etc/traefik/config/rules.toml ]; then
  touch /etc/traefik/config/rules.toml
  s6-chmod 4755 /etc/traefik/config/rules.toml
  6-envuidgid traefik s6-chown -U -- /etc/traefik/config/rules.toml
fi

exit 0
